.nav{
    height: 60px;
    width: 100%;
    display: flex;
}
.navInner{
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}
.navOption{
    height: 2.25rem;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 1rem; */
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--dark-color);
    border: 2px solid var(--light-color);
    transition: all 0.2s;
    cursor: pointer;
}
.navOption:hover{
    color: var(--dark-color);
    background-color: var(--action-color);
    border: 2px solid var(--dark-color);
}
.navOption:not(:first-child){
    margin-left: 10px;
}
.navOptionActive{
    color: var(--action-color);
    border: 2px solid var(--action-color);
}
